h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem; /* NE MARCHE PAS */
    font-weight: 400; /* NE MARCHE PAS */
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 300; /* NE MARCHE PAS */
}

nav:a {
    font-family: "Open Sans", sans-serif; /* NE MARCHE PAS */
    font-size: 1.25rem; /* NE MARCHE PAS */
    font-weight: 300; /* NE MARCHE PAS */
}
